div {
    min-width: 600px;
    min-height: 600px;
}
table{
    color:black;
    background-color: #efffaf;
}
body{
    background-color:silver;
    background-size: cover;
}
#object{
    position: absolute;
    top: 485px;
    width: 55px;
    height: 50px;

}
table {
    margin-left: 269px;
    margin-right: 269px;
    table-layout: fixed;
    width: 1335px; /* Ширина таблицы */
    column-width: 55px;
    background: white; /* Цвет фона таблицы */
    color: white; /* Цвет текста */
    border-spacing: 1px; /* Расстояние между ячейками */

}
td, th {
    background: maroon; /* Цвет фона ячеек */
    padding: 13px; /* Поля вокруг текста */
}

#main_table{
    position: absolute;
    top:485px;
}
input{
    position: absolute;
    top:600px;
    background:maroon ;
    color: white;
    margin:50px;
    width: 100px;
    height: 50px;
    border-style: dotted;
    border-spacing: 20px;
}

#Speed{
    left: 300px;
}

#Position{
    right: 300px;
}